<!-- <div id="waveform"></div> -->
<ng-container>
    <audio src="{{src}}" #audioPlayer hidden></audio>
    <div class="player">
        <div class="reciter">
            <div class="img">
                <img src="{{avatar}}" alt="">
            </div>
            <div class="info">
                <h5>{{surahData?.englishName}}</h5>
                <!-- <p>{{surahData.englishName}}</p> -->
            </div>
        </div>
        <div class="action">
            <button (click)="previous()" class="next">
                <img src="../../../assets/img/skip-back.svg" alt="">
            </button>
            <button (click)="play()" class="play" *ngIf="showPlay">
                <img src="../../../assets/img/play.svg" alt="">
            </button>
            <!-- <button (click)="pause()" class="pause" *ngIf="!showPlay">
                <img src="../../../assets/img/pause.svg" alt="">
            </button> -->
            <button (click)="next()" class="next">
                <img src="../../../assets/img/skip-forward.svg" alt="">
            </button>
        </div>
        <div class="seek">
            <span>{{currentTime}}</span>
            <div class="progress">
                <input type="range" id="range" min="0" max="100" [(ngModel)]="seek" (input)="setSeek($event)">
                <!-- <label for="range" [ngStyle]="{left: (seek - 2) + '%'}"></label> -->
                <!-- <span class="progress-bar" [ngStyle]="{width: seek + '%' }"></span> -->
            </div>
            <span>{{durationString}}</span>
        </div>
    </div>
</ng-container>